<meta charset="UTF-8">
<body class="w-screen h-screen bg-gradient-to-b from-black to-blue-800 bg-no-repeat">
  <div class="w-screen h-36 flex justify-between items-center p-10">
    <h1 class="text-5xl font-light tracking-widest text-white">Sistema<br> Universitario</h1>
    <h1 class="text-5xl font-light tracking-widest text-white">Inscribirse a materias</h1>
  </div>