---

---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matricular Alumno</title>
  </head>
  <body
    class="bg-gradient-to-b from-gray-900 to-gray-700 min-h-screen flex items-center justify-center"
  >
    <div class="flex flex-col items-center w-full">
      <div class="text-white absolute top-10 left-10">
        <h1 class="text-4xl font-light tracking-widest">
          SISTEMA UNIVERSITARIO
        </h1>
      </div>
      <div class="text-white absolute top-10 right-10">
        <h1 class="text-4xl font-light tracking-widest">
          SISTEMA ADMINISTRADOR
        </h1>
      </div>
      <div class="bg-gray-200 p-8 rounded-lg shadow-lg mt-10">
        <h3 class="text-lg font-semibold text-center mb-6">
          Ingrese datos de la carrera
        </h3>
        <form class="space-y-4">
          <div>
            <label class="block text-sm font-medium text-gray-700"
              >Nombre de la carrera:</label
            >
            <input
              type="text"
              class="w-full border border-gray-300 p-2 rounded-md"
              placeholder="Ingeneria en sistemas"
            />
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700"
              >Duracion:</label
            >
            <input
              type="text"
              class="w-full border border-gray-300 p-2 rounded-md"
              placeholder="5 años"
            />
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700"
              >Coordinador:</label
            >
            <input
              type="text"
              class="w-full border border-gray-300 p-2 rounded-md"
              placeholder="Gomez Luis"
            />
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700"
              >Precio Inscripcion:</label
            >
            <input
              type="text"
              class="w-full border border-gray-300 p-2 rounded-md"
              placeholder="30000"
            />
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700"
              >Cuota Mensual:</label
            >
            <input
              type="text"
              class="w-full border border-gray-300 p-2 rounded-md"
              placeholder="230000"
            />
          </div>
          <div class="flex justify-center">
            <button
              type="submit"
              class="bg-black text-white py-2 px-4 rounded mt-4 hover:bg-gray-800"
            >
              Añadir Carrera
            </button>
          </div>
        </form>
        <p id="responseMessage" class="mt-4 text-green-500 hidden">
          Carrera añadida con éxito
        </p>
        <p id="responseError" class="mt-4 text-red-500 hidden">
          Ocurrió un error al añadir la carrera
        </p>
      </div>
    </div>
  </body>
</html>
