---
import { crearAlumno } from "../../request"
import { obtenerTodosLosAlumnos } from "../../request";
const listaAlumno =await obtenerTodosLosAlumnos();
const crearAlumnos = await crearAlumno();
---
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matricular Alumno</title>
  </head>
  <body class="bg-gradient-to-b from-gray-900 to-gray-700 min-h-screen flex items-center justify-center">
    <div class="flex flex-col items-center w-full">

        <div class="text-white absolute top-10 left-10">
            <h1 class="text-4xl font-light tracking-widest">SISTEMA UNIVERSITARIO</h1>
          </div>
         <div class="text-white absolute top-10 right-10">
            <h1 class="text-4xl font-light tracking-widest">SISTEMA ADMINISTRADOR</h1>
          </div>
      <div class="bg-gray-200 p-10 rounded-lg shadow-lg mt-10">
        <h3 class="text-lg font-semibold text-center mb-6">Ingrese datos del alumno</h3>
        <form class="space-y-4">
          <div>
            <label class="block text-sm font-medium text-gray-700">Nombre:</label>
            <input type="text" id="nonmbre" class="w-full border border-gray-300 p-2 rounded-md" placeholder="Nombre">
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700">Apellido:</label>
            <input type="text" id="apellido" class="w-full border border-gray-300 p-2 rounded-md" placeholder="Apellido">
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700">Nro de legajo:</label>
            <input type="text" id="legajo" class="w-full border border-gray-300 p-2 rounded-md" placeholder="Nro de legajo">
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700">Dni:</label>
            <input type="text" id="dni" class="w-full border border-gray-300 p-2 rounded-md" placeholder="Dni">
          </div>
          <div>
            <label class="block text-sm font-medium text-gray-700">Carrera:</label>
            <input type="text" id="carrera" class="w-full border border-gray-300 p-2 rounded-md" placeholder="Carrera">
          </div>
          <div class="flex space-x-4">
            <button type="submit" class="bg-blue-600 text-white py-2 px-4 rounded mt-4 hover:bg-blue-700 transition duration-300 ease-in-out">
              Matricular Alumno
            </button>

            <a href="/admi/alumnos" class="bg-green-600 text-white text-center py-2 px-5 rounded mt-4 hover:bg-green-700 transition duration-300 ease-in-out">
              Ver alumnos
            </a>
          </div>

        </form>
      </div>
    </div>
  </body>
</html>
